
@{
    Layout = null;
}

<!DOCTYPE html>
<!-- saved from url=(0107)https://donghotuanhung.com/wp-login.php?redirect_to=https%3A%2F%2Fdonghotuanhung.com%2Fwp-admin%2F&reauth=1 -->
<html xmlns="http://www.w3.org/1999/xhtml" lang="vi" xmlns:fb="http://ogp.me/ns/fb#">
<!--<![endif]-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Đăng nhập ‹ Admin</title>
    <link rel="shortcut icon" type="image/png" href="~/images/favicon-16x16.png" />
    <link rel="dns-prefetch" href="https://s.w.org/">
    <link rel="stylesheet" href="~/css/load-styles.css" type="text/css" media="all">
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/favicon.png">
    <!-- <link rel="icon" type="image/png" sizes="32x32" href="~/images/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon-16x16.png"> -->
    <link rel="manifest" href="~/css/site.webmanifest.txt">
    <!-- <link rel="mask-icon" href="https://donghotuanhung.com/wp-content/uploads/fbrfg/safari-pinned-tab.svg" color="#5bbad5"> -->
    <!-- <link rel="shortcut icon" href="https://donghotuanhung.com/wp-content/uploads/fbrfg/favicon.ico"> -->
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/wp-content/uploads/fbrfg/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta name="robots" content="noindex,noarchive">
    <meta name="referrer" content="strict-origin-when-cross-origin">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="~/css/admin-css.css">
    <!-- <style type="text/css">
        #registerform #wp-submit {
            float: none;
            margin-top: 15px;
        }

        .login.clc-text-logo h1 a {
            background-image: none !important;
            text-indent: unset;
            width: auto !important;
            height: auto !important;
        }

        #login form p label br {
            display: none
        }

        body:not( .ml-half-screen) .ml-form-container {
            background: transparent !important;
        }

        .login h1 a {
            background-position: center;
            background-size: contain !important;
        }

        .ml-container #login {
            position: relative;
            padding: 0;
            width: 100%;
            max-width: 320px;
            margin: 0;
        }

        #loginform,
        #registerform,
        #lostpasswordform {
            box-sizing: border-box;
            max-height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .ml-container {
            position: relative;
            min-height: 100vh;
            display: flex;
            height: 100%;
            min-width: 100%;
        }

        .ml-container .ml-extra-div {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat
        }

        body .ml-form-container {
            display: flex;
            align-items: center;
            justify-content: center
        }

        body:not( .ml-half-screen) .ml-container .ml-extra-div {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%
        }

        body:not( .ml-half-screen) .ml-container .ml-form-container {
            width: 100%;
            min-height: 100vh
        }

        body.ml-half-screen .ml-container {
            flex-wrap: wrap
        }

        body.ml-half-screen .ml-container>.ml-extra-div,
        body.ml-half-screen .ml-container>.ml-form-container {
            width: 50%
        }

        body.ml-half-screen.ml-login-align-2 .ml-container>div,
        body.ml-half-screen.ml-login-align-4 .ml-container>div {
            width: 100%;
            flex-basis: 50%;
        }

        body.ml-half-screen.ml-login-align-2 .ml-container {
            flex-direction: column-reverse
        }

        body.ml-half-screen.ml-login-align-4 .ml-container {
            flex-direction: column
        }

        body.ml-half-screen.ml-login-align-1 .ml-container {
            flex-direction: row-reverse
        }

        body.ml-login-vertical-align-1 .ml-form-container {
            align-items: flex-start
        }

        body.ml-login-vertical-align-3 .ml-form-container {
            align-items: flex-end
        }

        body.ml-login-horizontal-align-1 .ml-form-container {
            justify-content: flex-start
        }

        body.ml-login-horizontal-align-3 .ml-form-container {
            justify-content: flex-end
        }

        media only screen and (max-width: 768px) {
            body.ml-half-screen .ml-container>.ml-extra-div,
            body.ml-half-screen .ml-container>.ml-form-container {
                width: 100%;
            }
        }

        .login input[type=text]:focus,
        .login input[type=search]:focus,
        .login input[type=radio]:focus,
        .login input[type=tel]:focus,
        .login input[type=time]:focus,
        .login input[type=url]:focus,
        .login input[type=week]:focus,
        .login input[type=password]:focus,
        .login input[type=checkbox]:focus,
        .login input[type=color]:focus,
        .login input[type=date]:focus,
        .login input[type=datetime]:focus,
        .login input[type=datetime-local]:focus,
        .login input[type=email]:focus,
        .login input[type=month]:focus,
        .login input[type=number]:focus,
        .login select:focus,
        .login textarea:focus {
            box-shadow: none;
        }

        media only screen and (max-width: 577px) {
            body.ml-half-screen.ml-login-align-1 .ml-container .ml-extra-div,
            body.ml-half-screen.ml-login-align-1 .ml-container .ml-form-container,
            body.ml-half-screen.ml-login-align-3 .ml-container .ml-extra-div,
            body.ml-half-screen.ml-login-align-3 .ml-container .ml-form-container {
                width: 100%;
            }
            body.ml-half-screen.ml-login-align-1 .ml-container .ml-extra-div,
            body.ml-half-screen.ml-login-align-3 .ml-container .ml-extra-div {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    </style> -->
    <link rel="stylesheet" href="~/css/clc-style.css">
    <!-- <style type="text/css" id="clc-style">
        .ml-container .ml-extra-div {
            background-image: url(https://donghotuanhung.com/wp-content/uploads/2019/01/bg.jpeg);
            background-color: rgba(247, 247, 247, 1);
        }

        .login h1 a {
            background-image: url('./images/');
            background-image: url();
            background-size: 195px;
            width: 195px;
            height: 100px;
        }

        .login.clc-text-logo h1 a {
            color: rgba(51, 51, 51, 1);
            font-size: 30px;
        }

        .login.clc-text-logo h1 a:hover {
            color: #00a0d2;
        }

        .ml-container #login {
            max-width: 430px;
        }

        #loginform,
        #registerform,
        #lostpasswordform {
            height: 300px;
            background-color: rgba(0, 0, 0, 0);
            padding: 10px 24px 26px 24px;
            border: none;
            border-radius: unset;
            box-shadow: none;
        }

        .login form .input,
        .login input[type="text"] {
            border-radius: unset;
            border: 1px solid #ddd;
            background: #fbfbfb;
        }

        #login>#nav,
        #login>#backtoblog {
            display: none;
        }

        .wp-core-ui .button-primary.focus,
        .wp-core-ui .button-primary.hover,
        .wp-core-ui .button-primary:focus,
        .wp-core-ui .button-primary:hover {
            background: rgba(199, 109, 0, 1);
            border-color: rgba(128, 128, 128, 1);
        }

        .wp-core-ui .button-primary {
            background: rgba(247, 146, 30, 1);
            border-color: rgba(181, 181, 181, 1);
            box-shadow: 0 1px 0 #006799;
            text-shadow: none;
        }

        .login #backtoblog a:hover,
        .login #nav a:hover,
        .login h1 a:hover {
            color: rgba(247, 146, 30, 1);
        }

        #login form .forgetmenot {
            display: none;
        }
    </style> -->
    <link rel="stylesheet" href="~/css/clc-columns-style.css">
    <!-- <style type="text/css" id="clc-columns-style">
        .ml-half-screen.ml-login-align-3 .ml-container .ml-extra-div,
        .ml-half-screen.ml-login-align-1 .ml-container .ml-form-container {
            width: 66.666666666667%;
        }

        .ml-half-screen.ml-login-align-4 .ml-container .ml-extra-div,
        .ml-half-screen.ml-login-align-2 .ml-container .ml-form-container {
            flex-basis: 66.666666666667%;
        }

        .ml-half-screen.ml-login-align-3 .ml-container .ml-form-container,
        .ml-half-screen.ml-login-align-1 .ml-container .ml-extra-div {
            width: 33.333333333333%;
        }

        .ml-half-screen.ml-login-align-4 .ml-container .ml-form-container,
        .ml-half-screen.ml-login-align-2 .ml-container .ml-extra-div {
            flex-basis: 33.333333333333%;
        }
    </style> -->
    <link rel="stylesheet" href="~/css/clc-custom-css.css">
    <!-- <style type="text/css" id="clc-custom-css">
        .ml-form-container .submit input[type='submit'] {
            width: 100%;
            box-sizing: border-box;
            display: inline-block;
            text-align: center;
            border-radius: 30px;
            padding: 0 20px;
            height: 38px;
            line-height: 1;
            font-weight: bold;
            vertical-align: middle;
            box-shadow: none;
        }

        .ml-form-container input[type='password'],
        .ml-form-container input[type='text'] {
            box-shadow: none;
        }
    </style> -->
    <!-- <link rel="icon" href="https://donghotuanhung.com/wp-content/uploads/2019/01/cropped-favicon-min-32x32.png" sizes="32x32">
    <link rel="icon" href="https://donghotuanhung.com/wp-content/uploads/2019/01/cropped-favicon-min-192x192.png" sizes="192x192">
    <link rel="apple-touch-icon-precomposed" href="https://donghotuanhung.com/wp-content/uploads/2019/01/cropped-favicon-min-180x180.png">
    <meta name="msapplication-TileImage" content="https://donghotuanhung.com/wp-content/uploads/2019/01/cropped-favicon-min-270x270.png"> -->
</head>

<body class="login login-action-login wp-core-ui  locale-vi ml-half-screen ml-login-align-3 ml-login-vertical-align-2">
    <div class="ml-container">
        <div class="ml-extra-div"></div>
        <div class="ml-form-container">
            <div id="login">
                <h1><a href="https://www.memoryzone.com.vn/" title="Memoryzone" tabindex="-1">Memoryzon</a></h1>
                <!-- action cần ghi lại -->
                <form name="loginform" id="loginform" action="/Login/LoginPost" method="post">
                    @Html.AntiForgeryToken()
                    <p>
                        <label for="user_login">
                            Tên đăng nhập<br>
                            <input type="text" name="log" id="user_login" class="input" value="" size="20">
                        </label>
                    </p>
                    <p>
                        <label for="user_pass">
                            Mật khẩu<br>
                            <input type="password" name="pwd" id="user_pass" class="input" value="" size="20">
                        </label>
                    </p>
                    <p class="forgetmenot"><label for="rememberme"><input name="rememberme" type="checkbox" id="rememberme" value="forever"> Ghi nhớ</label></p>
                    <p class="submit">
                        <input type="submit" name="wp-submit" id="wp-submit" class="button button-primary button-large" value="Đăng nhập">
                        <input type="hidden" name="redirect_to" value="#">
                        <input type="hidden" name="testcookie" value="1">
                    </p>
                </form>
                <!-- Quên mật khẩu -->
                <!-- <p id="nav">
                    <a href="https://donghotuanhung.com/my-account/lost-password/">Quên mật khẩu</a>
                </p> -->

                <script type="text/javascript">
                    function wp_attempt_focus() {
                        setTimeout(function() {
                            try {
                                d = document.getElementById('user_login');
                                d.focus();
                                d.select();
                            } catch (e) {}
                        }, 200);
                    }

                    wp_attempt_focus();
                    if (typeof wpOnload == 'function') wpOnload();
                </script>

                <p id="backtoblog"><a href="https://www.memoryzone.com.vn/">← Về Trang chủ Memoryzone.com</a></p>

            </div>


        </div>
    </div>
    <div class="clear"></div>


</body>

</html>
